<div class="min-h-screen bg-slate-50 flex items-center justify-center px-6">
    <div
        class="w-full max-w-[520px] bg-white border border-slate-200 rounded-[32px] p-10 shadow-sm text-center">

        <!-- CÓDIGO DE ERROR -->
        <span
            class="inline-flex items-center justify-center w-[90px] h-[90px] rounded-full bg-blue-50 text-blue-700 text-[38px] font-bold mb-6">
            404
        </span>

        <!-- TITULO -->
        <h1 class="text-[36px] font-bold text-slate-900 leading-tight m-0">
            Página no encontrada
        </h1>

        <!-- SUBTITULO -->
        <p class="mt-4 text-[16px] leading-[28px] text-slate-500">
            La página que intentas acceder no existe,
            fue eliminada o la ruta es incorrecta.
        </p>

        <!-- BOTÓN -->
        <a
        routerLink="/home"
        class="mt-8 inline-flex items-center justify-center h-[52px] px-6 rounded-2xl bg-blue-700 hover:bg-blue-800 transition-all duration-200 text-white font-semibold text-[15px] no-underline">
            Volver al inicio
        </a>
    </div>
</div>