<app-layout title="Inicio" subtitle="Bienvenido al sistema de valoración territorial.">
    <div class="w-full h-full flex items-center justify-center">

        <div class="bg-white rounded-2xl border border-slate-200 px-10 py-12 shadow-sm">

            <h1 class="text-4xl font-semibold text-slate-900 m-0">
                Bienvenido,
                <span class="text-blue-700">
                    {{user?.name}}
                </span>
            </h1>

            <p class="text-slate-500 mt-3 text-center">
                Nos alegra verte nuevamente en el sistema de valoración territorial.
            </p>
        </div>
    </div>
</app-layout>